@font-face {
	font-family: "proximanova-semibold";
	src: local("proximanova-semibold"),
		url(./font/proximanova-semibold.otf) format("truetype");
}
@font-face {
	font-family: "proximanova-regular";
	src: local("proximanova-regular"),
		url(./font/proximanova-regular.ttf) format("truetype");
}

* {
	margin: 0px;
	letter-spacing: 0.35px;
	padding: 0px;
	border: 0px;
	vertical-align: baseline;
}

body {
	height: 100vh;
	overflow: hidden auto;
	font-family: proximanova-regular, "BlinkMacSystemFont", "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
